.announcement {
  background: lightgrey;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  z-index: 9999;
  bottom: 1rem;
  width: 50vw;
  left: 25vw;
}

.success {
  color: green;
  border-color: green;
}

.error {
  color: red;
  border-color: red;
}